@page
@using System.Security.Claims
@using ePiggyWeb.CurrencyAPI
@model ePiggyWeb.Pages.ChangePasswordModel

<div class="container login-container col-lg-4 col-md-8 col-sm-10 col-11 mt-5">
    <div class="login-form-2 bg-primary border">
        @if (!Request.Cookies.ContainsKey("snow"))
        {
            <form method="post" asp-controller="Snow" asp-action="StartSnow" asp-route-returnUrl="@Request.Path">
                <button class="btn btn-outline-light">I'm feeling Christmas!<i class="ml-1 fas fa-snowflake"></i></button>
            </form>
        }
        else
        {
            <form method="post" asp-controller="Snow" asp-action="StopSnow" asp-route-returnUrl="@Request.Path">
                <button class="btn btn-outline-light">I don't feel Christmas!<i class="ml-1 fas fa-snowplow"></i></button>
            </form>
        }
        <h5 class="text-light mb-3 mt-3">User: <span class="text-warning">@User.FindFirst(ClaimTypes.Email).Value</span></h5>
        <hr />
        <h5 class="text-light">Currency</h5>
        <form method="post">
            <div class="row justify-content-center">
                <select class="mb-3" asp-for="Currency">
                    @for (var i = 0; i < Model.CurrencyOptions.Count; i++)
                    {
                        if (Model.UserModel.Currency == Model.CurrencyOptions[i])
                        {
                            <option selected value="@Model.CurrencyOptions[i]" >@Model.CurrencyOptions[i]</option>
                        }
                        else
                        {
                            <option value="@Model.CurrencyOptions[i]">@Model.CurrencyOptions[i]</option>
                        }
                    }
                </select>
            </div>
            <div class="row justify-content-center">
                <label class="text-light mr-2">Recalculate existing data</label>
                <input class="mt-1" asp-for="Recalculate" type="checkbox" placeholder="" />
            </div>

            <input asp-page-handler="Currency" type="submit" class="btn btn-sm btn-info" value="Change currency" />
        </form>
        <hr />
        <h5 class="text-light">Change Password</h5>
        <form method="post">
            <label class="text-light">New password</label>
            <div class="form-group">
                <input asp-for="Password" type="password" />
            </div>
            <label class="text-light">Confirm password</label>
            <div class="form-group">
                <input asp-for="PasswordConfirm" type="password" />
            </div>
            <div class="form-group">
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <input class="btn btn-outline-warning" type="submit" value="Confirm" />
            <p class="text-warning">@Model.ErrorMessage</p>
            <hr />
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#ConfirmModal">Delete Account<i class="ml-1 fas fa-user-times"></i></button>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="post" asp-page-handler="DeleteAccount">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are You sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    All data will be lost!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
