@page
@using System.Globalization
@using ePiggyWeb.Utilities
@model ePiggyWeb.Pages.ComparisonGraphModel

@if (Model.WasException)
{
    <div class="alert alert-danger" role="alert">
        Whoops! Something went wrong!
    </div>
    <h1 class="text-warning">Example data used:</h1>
}
else
{
    <form method="get" class="mt-5">
        <input type="hidden" name="handler" value="Filter" />
        <label class="text-light">Period:</label>
        <input for="startDate" asp-for="StartDate" type="date" value="@Model.StartDate.ToShortDateString()" />
        <label class="text-light"> - </label>
        <input for="endDate" asp-for="EndDate" type="date" value="@Model.EndDate.ToShortDateString()" />
        <input type="submit" value="Filter" class="btn btn-warning ml-5" />
        <p class="text-warning">@Model.ErrorMessage</p>
    </form>
}


@if (Model.Expenses == 0 && Model.Income == 0)
{
    <div class="alert alert-warning" role="alert">
        Graph is empty, since no data found! Try a <strong>different period.</strong>
    </div>
}
else
{
    <h4 class="text-light total-graphs">This period: Income: @NumberFormatter.FormatCurrency(Model.Income) / Expenses: @NumberFormatter.FormatCurrency(Model.Expenses)</h4>
    <h4 class="text-light total-graphs">Balance: @NumberFormatter.FormatCurrency(Model.Income - Model.Expenses)</h4>
}
<div class="container p-0 mt-3 mb-5">
    <div class="col-lg-12" id="graph">
        <div class="spinner-border text-warning loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(window).resize(function () {
        drawChart();
    });
</script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Type', 'Amount'],
            ['Expenses', @Model.Expenses.ToString(CultureInfo.InvariantCulture)],
            ['Income',  @Model.Income.ToString(CultureInfo.InvariantCulture)]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {
            'title': 'Income/expenses comparison',
            'height': 600,
            'width': '100%',
            'vAxis': { 'textStyle': { 'color': '#FFF' }},
            'backgroundColor': { 'fill': 'transparent' },
            'colors': ['#F44336', '#3F51B5'],
            'legend': { 'position': 'top', 'maxLines': 2 },
            'legendTextStyle': { color: '#FFF' },
            'titleTextStyle': { color: '#FFF', bold: 'true', fontSize: 16 },
            'hAxis': { 'textStyle': { 'color': '#FFF' } }
        };

        var chart = new google.visualization.PieChart(document.getElementById('graph'));
        chart.draw(data, options);
    }
</script>