@page
@using System.Globalization
@using ePiggyWeb.Utilities
@model ePiggyWeb.Pages.EditEntryModel

<br />
<div class="container p-0 mt-3">
    <!--Displays text accordingly to the EntryType-->
    @if (Model.EntryTypeInt == 1)
    {
        <h2 class="text-info">Income (@Model.Entry.Currency)</h2>
    }
    else
    {
        <h2 class="text-info">Expenses (@Model.Entry.Currency)</h2>
    }
</div>

<!--Base values are taken from already existing Entry-->
<form method="post" class="mb-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="EntryTypeInt" type="hidden" />
    <input asp-for="Entry.Id" type="hidden" />
    <input asp-for="Entry.UserId" type="hidden" />
    <input asp-for="Entry.Currency" type="hidden" />
    <input class="mt-2" asp-for="Title" type="text" />
    <input class="mt-2" asp-for="Entry.Amount" type="text" value="@Math.Round(Model.Entry.Amount, 2).ToString(CultureInfo.CurrentCulture)" />
    <input class="mt-2" asp-for="Entry.Date" type="date" value="@Model.Entry.Date.ToShortDateString()" />
    @if (Model.EntryTypeInt == 1)
    {
        <select class="mt-2" asp-for="Entry.Importance" class="ml-3">
            <option hidden disabled selected value="@Model.Entry.Importance">@((Attainability)Model.Entry.Importance)</option>
            <option value="1">Regularly</option>
            <option value="2">Often</option>
            <option value="3">Sometimes</option>
            <option value="4">Rarely</option>
            <option value="5">Exceptionally</option>
        </select>
    }
    else
    {
        <select class="mt-2" asp-for="Entry.Importance" class="ml-3">
            <option hidden disabled selected value="@Model.Entry.Importance">@((Importance)Model.Entry.Importance)</option>
            <option value="1">Necessary</option>
            <option value="2">High</option>
            <option value="3">Medium</option>
            <option value="4">Low</option>
            <option value="5">Unnecessary</option>
        </select>
    }
    <label class="text-light ml-3">Is Monthly?</label>
    @if (@Model.Entry.Recurring)
    {
        <input class="mt-2" asp-for="Entry.Recurring" type="checkbox" checked />
    }
    else
    {
        <input class="mt-2" asp-for="Entry.Recurring" type="checkbox" />
    }
    <br />
    <div class="row justify-content-center">
        <span asp-validation-for="Title" class="text-danger"></span>
        <span asp-validation-for="Entry.Amount" class="text-danger"></span>
        <span asp-validation-for="Entry.Importance" class="text-danger"></span>
    </div>
    <input type="submit" value="Save" class="btn btn-primary mt-2" />
    <input asp-page-handler="Cancel" class="btn btn-danger ml-2 mt-2" type="submit" value="Cancel">
    <br />
</form>

<div class="container p-0 mt-5 mb-4">
    <h4 class="text-info">Quotes by famous people</h4>
</div>
<!--Bootstrap cards just to fill space-->
<div class="card-deck mt-2 mb-5">
    <div class="card">
        <img src="https://news.tradimo.com/wp-content/uploads/2019/08/Save-Money-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">George Lorimer</h5>
            <p class="card-text">It’s good to have money and the things that money can buy, but it’s good, too, to check up once in a while and make sure that you haven’t lost the things that money can’t buy.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://theworkingfamily.org/wp-content/uploads/2018/06/Money-Saving-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thomas T. Munger</h5>
            <p class="card-text">The habit of saving is itself an education; it fosters every virtue, teaches self-denial, cultivates the sense of order, trains to forethought, and so broadens the mind.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://ei.marketwatch.com/Multimedia/2017/06/15/Photos/ZQ/MW-FO584_greek__20170615154354_ZQ.jpg?uuid=f6ec1d08-5202-11e7-8d98-9c8e992d421e" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Aristotle</h5>
            <p class="card-text">Money is a guarantee that we may have what we want in the future. Though we need nothing at the moment it insures the possibility of satisfying a new desire when it arises.</p>
        </div>
    </div>
</div>
