@page
@model ePiggyWeb.Pages.ExpensesModel

<br />
<div class="container p-0 mt-3 mb-4">
    <h2 class="text-info">Expenses</h2>
</div>

<form method="post">
    <input asp-for="Title" type="text" placeholder="Title" value="" />
    <input asp-for="Amount" type="text" placeholder="Amount" value="" />
    <input asp-for="Date" type="date" value="@DateTime.Now.ToShortDateString()" />
    <!-- <label class="text-light ml-3">Importance</label>-->
    <select asp-for="Importance" class="ml-3">
        <option hidden disabled selected value="">Importance</option>
        <option value="1">Necessary</option>
        <option value="2">High</option>
        <option value="3">Medium</option>
        <option value="4">Low</option>
        <option value="5">Unnecessary</option>
    </select>
    <label class="text-light ml-3">Is Monthly?</label>
    <input asp-for="IsMonthly" type="checkbox" placeholder="" />
    <input type="submit" value="Add" class="btn btn-primary ml-5" />
    <input class="btn btn-danger ml-2" type="reset" value="Reset">
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <label class="text-danger">@Model.Error</label>
    }

</form>
<div class="col-12 border p-3 mt-3 mb-3">
    @if (Model.Expenses.Any())
            {
                <table class="table table-hover border-primary table-bordered">
                    <tr class="table-primary">
                        <th>
                            <label asp-for="Expenses.FirstOrDefault().Title"></label>
                        </th>
                        <th style="width: 20%">
                            <label asp-for="Expenses.FirstOrDefault().Amount"></label>
                        </th>
                        <th style="width: 8.5%">
                            <label asp-for="Expenses.FirstOrDefault().Date"></label>
                        </th>
                        <th style="width: 15%">
                            <label asp-for="Expenses.FirstOrDefault().Importance"></label>
                        </th>
                        <th style="width: 5%">
                            <label asp-for="Expenses.FirstOrDefault().IsMonthly"></label>
                        </th>
                        <th style="width: 10%">
                           
                        </th>
                    </tr>
                    @foreach (var item in Model.Expenses)
                    {
                <tr class="table-light border-primary">
                    <td class="border-primary">
                        @Html.DisplayFor(m => item.Title)
                    </td>
                    <td class="border-primary">
                        @Html.DisplayFor(m => item.Amount)
                    </td>
                    <td class="border-primary">
                        @item.Date.ToShortDateString()
                        <!--Html.DisplayFor(m => item.Date)-->
                    </td>
                    <td class="border-primary">
                        @Html.DisplayFor(m => item.Importance)
                    </td>
                    <td class="border-primary">
                        @if (item.IsMonthly)
                        {
                            <i class="fas fa-check text-success"></i>
                        }
                    </td>
                    <td class="border-primary">
                        <button class="btn btn-sm btn-success">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
                    }
                </table>
            }
            else
            {
                <p>No expenses available</p>
            }
</div>
    
