@page
@using System.Globalization
@using ePiggyWeb.Utilities
@model ePiggyWeb.Pages.ExpensesGraphModel

@if (Model.WasException)
{
    <div class="alert alert-danger" role="alert">
        Whoops! Something went wrong!
    </div>
    <h1 class="text-warning">Displaying placeholder data:</h1>
}
else
{
    <form method="get" class="mt-5">
        <input type="hidden" name="handler" value="Filter" />
        <label class="text-light col-md-4">Period:</label>
        <div class="row justify-content-center">
            <input class="col-md-3 col-sm-5 col-5" onchange="handleFilter(this)"  for="startDate" min="2016-01-01" max="@DateTime.Now.AddMonths(1).ToShortDateString()"
                   asp-for="StartDate" type="date" value="@Model.StartDate.ToShortDateString()" />
            <label class="text-light ml-2 mr-2"> - </label>
            <input class="col-md-3 col-sm-5 col-5" onchange="handleFilter(this)"  for="endDate" min="2016-01-01" max="@DateTime.Now.AddMonths(1).ToShortDateString()"
                   asp-for="EndDate" type="date" value="@Model.EndDate.ToShortDateString()" />
        </div>
        <button type="submit" id ="FilterButton" class="btn btn-warning col-sm-6 col-md-2 col-lg-1 col-4 mt-3">Filter<i class="fas fa-filter"></i></button>
        <p class="text-warning">@Model.ErrorMessage</p>
    </form>
}
@if (Model.CurrencyException)
{
    <div class="container">
        <div class="alert alert-warning" role="alert">
            We were unable to load <strong>Currencies...</strong><i class="ml-1 fas fa-robot"></i>
        </div>
    </div>
}
@if (!Model.Expenses.Any())
{
    <div class="alert alert-warning" role="alert">
        Graphs are empty, since no data found! Try a <strong>different period.</strong>
    </div>
}
else
{
    <h4 class="text-light total-graphs">
        Total Expenses of this period: @NumberFormatter.FormatCurrency(Model.Expenses.GetSum(), Model.CurrencySymbol)
    </h4>
}

<div class="row mt-3 mb-5">
    <div class="col-lg-6" id="graphPie">
        <div class="spinner-border text-warning loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="col-lg-6" id="graphColumn">
        <div class="spinner-border text-danger loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(window).resize(function () {
        drawChart();
    });
</script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Importance', 'Amount'],
            ['Necessary', @Model.Expenses.GetBy(Importance.Necessary).GetSum().ToString(CultureInfo.InvariantCulture)],
            ['High', @Model.Expenses.GetBy(Importance.High).GetSum().ToString(CultureInfo.InvariantCulture)],
            ['Medium', @Model.Expenses.GetBy(Importance.Medium).GetSum().ToString(CultureInfo.InvariantCulture)],
            ['Low', @Model.Expenses.GetBy(Importance.Low).GetSum().ToString(CultureInfo.InvariantCulture)],
            ['Unnecessary', @Model.Expenses.GetBy(Importance.Unnecessary).GetSum().ToString(CultureInfo.InvariantCulture)]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {
            'title': 'Expenses by importance',
            'height': 600,
            'width': '100%',
            'vAxis': { 'textStyle': { 'color': '#FFF' }, 'gridlines': { 'count': 5 } },
            'backgroundColor': { 'fill': 'transparent' },
            'colors': ['#F44336', '#9C27B0', '#3F51B5', '#2196F3', '#4CAF50'],
            'legend': { 'position': 'top', 'maxLines': 2},
            'legendTextStyle': { color: '#FFF' },
            'titleTextStyle': { color: '#FFF', bold: 'true', fontSize: 16},
            'hAxis': { 'textStyle':{'color': '#FFF'} }
        };

        var chartPie = new google.visualization.PieChart(document.getElementById('graphPie'));
        var chartColumn = new google.visualization.ColumnChart(document.getElementById('graphColumn'));
        chartPie.draw(data, options);
        chartColumn.draw(data, options);
    }
</script>


