@page
@using System.Linq
@using ePiggyWeb.Utilities
@model ePiggyWeb.Pages.GoalsModel

@if (Model.WasException)
{
    <div class="alert alert-danger" role="alert">
        Whoops! Something went wrong!
    </div>
    <h1 class="text-warning">Example Goals data used:</h1>
}
else
{
    <br />
    <h2 class="text-info">Goals</h2>
    <button type="button" class="btn btn-primary text-light mt-3" data-toggle="modal" data-target="#AddGoalModal">Add Goal<i class="ml-1 fas fa-pencil-alt"></i></button>
    <button type="button" class="btn btn-outline-light mt-3" data-toggle="modal" data-target="#ParseGoalModal">Parse Goal<i class="ml-1 fas fa-cloud-download-alt"></i></button>
}

@if (!ModelState.IsValid)
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <strong>Holy guacamole!</strong> Goal was not added, because wrong info was provided.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}
@if (!Model.Goals.Any())
{
    <div class=" border container bg-primary mt-5 mb-5">
        <blockquote class="blockquote text-center">
            <p class="mb-0 text-light">If you’re bored with life – you don’t get up every morning with a burning desire to do things – you don’t have enough goals.</p>
            <footer class="blockquote-footer text-dark">Lou Holtz </footer>
        </blockquote>
    </div>

}
else
{
    <div class="container-fluid bg-transparent mt-3">
        <form method="post">
            <div class="row">
                @foreach (var item in Model.Goals)
                {
                    <div class="card text-center col-lg-4 col-md-6 text-light bg-primary mb-3">
                        <div class="card-header">
                            <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-primary float-right" type="submit" title="Remove Goal"><i class="far fa-trash-alt text-danger "></i></button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" title="Title">@item.Title</h5>
                            <div class="progress mt-4">
                                @{
                                    var percent = item.Amount == 0 ? 100 : decimal.Round(Model.Savings / item.Amount * 100);
                                    percent = percent > 100 ? 100 : percent;
                                    string color;
                                    if (percent < 30)
                                    {
                                        color = "danger";
                                    }
                                    else if (percent < 85)
                                    {
                                        color = "warning";
                                    }
                                    else if (percent < 100)
                                    {
                                        color = "info";
                                    }
                                    else
                                    {
                                        color = "success";
                                    }
                                }
                                <div class="progress-bar bg-@color" role="progressbar" style="width: @percent%;" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" title="Progress">@percent%</div>
                            </div>
                            <p class="card-text" title="Saved/Required">@NumberFormatter.FormatCurrency(Model.Savings)/@NumberFormatter.FormatCurrency(item.Amount)</p>
                        </div>
                        <div class="card-footer">
                            @if (percent == 100)
                            {
                                <button asp-page-handler="Purchased" asp-route-id="@item.Id" asp-route-title="@item.Title" asp-route-amount="@item.Amount" class="btn btn-sm btn-primary" type="submit" title="Add Goal as expense and remove it"><i class="fas fa-check fa-2x text-success"></i></button>
                            }
                            else
                            {
                                <i class="fas fa-piggy-bank fa-2x text-warning" title="Still saving"></i>
                                @if (!Model.WasException)
                                {
                                    <a class="text-light" asp-page="/savingSuggestions" asp-route-id="@item.Id" title="Suggest savings"><i class="fas fa-calculator fa-2x"></i></a>
                                }
                            }
                        </div>
                    </div>

                    

                }
            </div>
        </form>
    </div>
}


<div class="container bg-primary border p-0 mx-auto mt-3 mb-5">
    <h2 class="text-light mt-5 mb-5">Click on Calculator icon on goals to get suggestions.</h2>
    <!--Table here somewhere-->
</div>



<!-- Modal -->
<div class="modal fade" id="AddGoalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" asp-page-handler="NewGoal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Goal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Title" type="text" placeholder="Title*" value="" />
                    </div>
                    <div class="form-group"><span asp-validation-for="Title" class="text-danger"></span></div>
                    <div class="form-group">
                        <input asp-for="Amount" type="text" placeholder="Amount*" value="" />
                    </div>
                    <div class="form-group"><span asp-validation-for="Amount" class="text-danger"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ParseGoalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" asp-page-handler="ParseGoal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Parse Goal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Title" type="text" placeholder="Title*" value="" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <p class="text-primary">Enter exact name of item for more precise pricing! :)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Parse" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<!--<form method="post" asp-page-handler="NewGoal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Title" type="text" placeholder="Title*" value="" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <input asp-for="Amount" type="text" placeholder="Amount*" value="" />
    <span asp-validation-for="Amount" class="text-danger"></span>
    <input type="submit" value="Add" class="btn btn-primary ml-5" />
    <input class="btn btn-danger ml-2" type="reset" value="Reset" title="Clear all fields">
</form>-->
