@page
@using System.Globalization
@using System.Linq
@using ePiggyWeb.Utilities
@model ePiggyWeb.Pages.GoalsModel

<br />
<h2 class="text-info">Goals</h2>
<button type="button" class="btn btn-primary text-light mt-3" data-toggle="modal" data-target="#AddGoalModal">Add Goal</button>
@if (!ModelState.IsValid)
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <strong>Holy guacamole!</strong> Goal was not added, because wrong info was provided.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}
@if (!Model.Goals.Any())
{
    <div class=" border container bg-primary mt-5 mb-5">
        <blockquote class="blockquote text-center">
            <p class="mb-0 text-light">If you’re bored with life – you don’t get up every morning with a burning desire to do things – you don’t have enough goals.</p>
            <footer class="blockquote-footer text-dark">Lou Holtz </footer>
        </blockquote>
    </div>

}
else
{
    var num = 0;
    <form method="post">
        @foreach (var item in Model.Goals)
        {
            if (num % 3 == 0)
            {
                @Html.Raw("<div class=\"row p-0 mx-auto mt-3\">")
            }
        <div class="border m-3 bg-primary col-sm">
            <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-primary float-right" type="submit" title="Remove Goal"><i class="far fa-trash-alt text-danger "></i></button>
            <div class="clearfix"></div>
            <h3 class="text-light problematic-title" title="Title">@item.Title </h3>
            <div class="progress mt-4">
                @{
                    var percent = item.Amount == 0 ? 0 : decimal.Round(Model.Savings / item.Amount * 100);
                    percent = percent > 100 ? 100 : percent;
                    string color;
                    if (percent < 30)
                    {
                        color = "danger";
                    }
                    else if (percent < 85)
                    {
                        color = "warning";
                    }
                    else if (percent < 100)
                    {
                        color = "info";
                    }
                    else
                    {
                        color = "success";
                    }
                }
                <div class="progress-bar bg-@color" role="progressbar" style="width: @percent%;" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" title="Progress">@percent%</div>
            </div>
            <h5 class="text-light" title="Saved/Required">@Model.Savings/@item.Amount</h5>
            @if (percent == 100)
            {
                <button asp-page-handler="Purchased" asp-route-id="@item.Id" asp-route-title="@item.Title" asp-route-amount="@item.Amount" class="btn btn-primary" type="submit" title="Add Goal as expense and remove it"><i class="fas fa-shopping-cart fa-2x text-info"></i></button>
            }
            else
            {
                <i class="fas fa-piggy-bank fa-2x text-warning" title="Still saving"></i>
                <a class="text-light" asp-page="/savingSuggestions" asp-route-id="@item.Id" title="Suggest savings"><i class="fas fa-calculator fa-2x"></i></a>
            }

        </div>
            num++;
            if (num % 3 == 0)
            {
                @Html.Raw("</div>")
            }
        }
    </form>
    if (num % 3 != 0)
    {
        @Html.Raw("</div>")
    }
}


<div class="container bg-primary border p-0 mx-auto mt-3 mb-5">
    <h2 class="text-light mt-5 mb-5">Click on Goal to get suggestions.</h2>
    <!--Table here somewhere-->
</div>



<!-- Modal -->
<div class="modal fade" id="AddGoalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" asp-page-handler="NewGoal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Goal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Title" type="text" placeholder="Title*" value="" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Amount" type="text" placeholder="Amount*" value="" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


<!--<form method="post" asp-page-handler="NewGoal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Title" type="text" placeholder="Title*" value="" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <input asp-for="Amount" type="text" placeholder="Amount*" value="" />
    <span asp-validation-for="Amount" class="text-danger"></span>
    <input type="submit" value="Add" class="btn btn-primary ml-5" />
    <input class="btn btn-danger ml-2" type="reset" value="Reset" title="Clear all fields">
</form>-->
