@page
@using System.Globalization
@using ePiggyWeb.Utilities
@model ePiggyWeb.Pages.SavingSuggestionsModel

@if (Model.WasException)
{
    <div class="alert alert-danger" role="alert">
        Whoops! Something went wrong!
    </div>

}
<div class="row p-3 mb-5">
    <a class="btn btn-sm btn-outline-light" asp-page="/goals"><i class="fas fa-arrow-left"></i> Back to Goals</a>
</div>
<h2 class="text-light">@Model.Goal.Title</h2>
<h3 class="text-light mt-3 mb-4">Currently: @NumberFormatter.FormatCurrency(Model.Savings)/@NumberFormatter.FormatCurrency(Model.Goal.Amount)</h3>
<hr />
<br />

@if (!Model.WasException)
{

    <h4 class="text-light">Using suggestions you would need to save for <span class="text-warning">@Model.MonthsToSave months</span></h4>
    <br />
    <hr />
    <form method="get" class="mt-5 mb-5">
        <input asp-for="Id" type="hidden" value="@Model.Id" />
        <input type="hidden" name="handler" value="Filter" />
        <label class="text-light">Period:</label>
        <input for="startDate" asp-for="StartDate" type="date" value="@Model.StartDate.ToShortDateString()" />
        <label class="text-light"> - </label>
        <input for="endDate" asp-for="EndDate" type="date" value="@Model.EndDate.ToShortDateString()" />
        <input type="submit" value="Filter" class="btn btn-warning ml-3" />
        <p class="text-warning">@Model.ErrorMessage</p>
    </form>
    <hr />

    <div class="container">
        <h4 class="text-light mb-3">Suggested Expenses improvements</h4>
        <table class="table table-hover border-primary table-bordered mb-5">
            <tr class="table-primary">
                <th>
                    <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Title"></label>
                </th>
                <th style="width: 15%">
                    <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Date"></label>
                </th>
                <th style="width: 15%">
                    <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Importance"></label>
                </th>
                <th style="width: 18%">
                    <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Amount"></label>
                </th>
                <th style="width: 18%">
                    <label class="text-info"><b>Suggested Amount</b></label>
                </th>

            </tr>

            @foreach (var item in Model.EntrySuggestions)
            {
                <tr class="table-light border-primary">
                    <td class="border-primary">
                        @Html.DisplayFor(m => item.Entry.Title)
                    </td>
                    <td class="border-primary">
                        @item.Entry.Date.ToShortDateString()
                    </td>
                    <td class="border-primary">
                        @((Importance) item.Entry.Importance)
                    </td>
                    <td class="border-primary">
                        @NumberFormatter.FormatCurrency(item.Entry.Amount)
                    </td>
                    <td class="border-primary text-info">
                        @NumberFormatter.FormatCurrency(item.Amount)
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
    <div class="container">
        <h4 class="text-light mb-3">Suggested Expenses by category</h4>
        <table class="table table-hover border-primary table-bordered mt-5">
            <tr class="table-primary">
                <th>
                    <label asp-for="MonthlySuggestions.FirstOrDefault().Importance"></label>
                </th>
                <th>
                    <label asp-for="MonthlySuggestions.FirstOrDefault().OldAverage"></label>
                </th>
                <th>
                    <label class="text-info" asp-for="MonthlySuggestions.FirstOrDefault().NewAverage"></label>
                </th>
            </tr>

            @foreach (var item in Model.MonthlySuggestions)
            {
                <tr class="table-light border-primary">
                    <td class="border-primary">
                        @Html.DisplayFor(m => item.Importance)
                    </td>
                    <td class="border-primary">
                        @NumberFormatter.FormatCurrency(item.OldAverage)
                    </td>
                    <td class="border-primary text-info">
                        @NumberFormatter.FormatCurrency(item.NewAverage)
                        <!--Html.DisplayFor(m => item.Date)-->
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
}
else
{
    <br/><br /><br /><br/><br/><br /><br /> <br/><br/><br/>
}

