@page
@using System.Globalization
@using ePiggyWeb.Utilities
@model ePiggyWeb.Pages.SavingSuggestionsModel

<div class="row p-3">
    <a class="btn btn-sm btn-outline-light" asp-page="/goals"><i class="fas fa-arrow-left"></i> Back to Goals</a>
</div>
<h2 class="text-light">@Model.Goal.Title</h2>
<h3 class="text-light mt-3 mb-4">@Model.Savings/@Model.Goal.Amount</h3>
<table class="table table-hover border-primary table-bordered mb-5">
    <tr class="table-primary">
        <th>
            <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Title"></label>
        </th>
        <th style="width: 18%">
            <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Amount"></label>
        </th>
        <th style="width: 10%">
            <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Date"></label>
        </th>
        <th style="width: 15%">
            <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Importance"></label>
        </th>
        <th style="width: 5%">
            <label asp-for="EntrySuggestions.FirstOrDefault().Entry.Recurring"></label>
        </th>
        <th style="width: 15%">
            <label>Suggested</label>
        </th>

    </tr>

    @foreach (var item in Model.EntrySuggestions)
    {
        <tr class="table-light border-primary">
            <td class="border-primary">
                @Html.DisplayFor(m => item.Entry.Title)
            </td>
            <td class="border-primary">
                @item.Entry.Amount.ToString(CultureInfo.CurrentCulture)
            </td>
            <td class="border-primary">
                @item.Entry.Date.ToShortDateString()
                <!--Html.DisplayFor(m => item.Date)-->
            </td>
            <td class="border-primary">
                @((Importance)item.Entry.Importance)
            </td>
            <td class="border-primary">
                @if (item.Entry.Recurring)
                {
                    <i class="fas fa-check text-success"></i>
                }
            </td>
            <td class="border-primary">
                @item.Amount
            </td>
        </tr>
    }
</table>
<hr />
<table class="table table-hover border-primary table-bordered mt-5">
    <tr class="table-primary">
        <th>
            <label asp-for="MonthlySuggestions.FirstOrDefault().Importance"></label>
        </th>
        <th>
            <label asp-for="MonthlySuggestions.FirstOrDefault().OldAverage"></label>
        </th>
        <th>
            <label asp-for="MonthlySuggestions.FirstOrDefault().NewAverage"></label>
        </th>
    </tr>

    @foreach (var item in Model.MonthlySuggestions)
    {
        <tr class="table-light border-primary">
            <td class="border-primary">
                @Html.DisplayFor(m => item.Importance)
            </td>
            <td class="border-primary">
                @item.OldAverage.ToString(CultureInfo.CurrentCulture)
            </td>
            <td class="border-primary">
                @item.NewAverage.ToString(CultureInfo.CurrentCulture)
                <!--Html.DisplayFor(m => item.Date)-->
            </td>
        </tr>
    }
</table>
